body{
    background-color: black;
    color: white;
}
.vidjet{
    height: 200px;
    margin: 40px;
    display: flex;
    justify-items: left;
}
.mapp{
    margin: 40px;
}
nav{
    background-color: red;
    width: 200px;
}
.video {
    margin: 40px;

}
.audio{
    margin: 40px;
}
.footer__link {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-top: 1px solid white;
    gap: 20px;
    
}
